/* patient_styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #010701; /* Green */
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #010f02; /* Darker Green */
}

section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Specific styles for patient feedback */
.form-container {
    width: 50%;
    margin: 0 auto;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container textarea {
    height: 100px;
}

.form-container button {
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #45a049; /* Darker Green */
}

/* Specific styles for patient payment */
.payment-container {
    width: 50%;
    margin: 0 auto;
}

.payment-container label {
    display: block;
    margin-bottom: 10px;
}

.payment-container input[type="text"],
.payment-container input[type="number"],
.payment-container select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.payment-container button {
    padding: 10px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.payment-container button:hover {
    background-color: #45a049; /* Darker Green */
}


